.card {
  background-color: var(--primary-white);
  border-radius: 16px;
  padding: 24px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.shadow-hover:hover {
  transform: translateY(-5px);
}
